.nav{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(6, 24, 44, 0.3) 0px 0px 0px 2px, rgba(6, 24, 44, 0.5) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
width: 100%;

}
.head_box{
    display: flex;
    align-items: center;
}
.heading{
    text-align: start;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.logo{
    width: 50px;
    margin-left: 20px;
    margin: 10px;

}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
   .heading{
    font-size: 0px;
   }
  }